@tailwind base;
@tailwind components;
@tailwind utilities;

.layout{
    display: none;
}

body{
    font-family: 'Montserrat', sans-serif !important;
}

.main-container {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.max-width {
    max-width: 1440px !important;
}
.profile-item-overlay{
    display: none;
}
.profile-item:hover .profile-item-overlay{
display: block;
}
.slide-profile-item {
    height: calc(100vh - 6rem);
}

@media screen and (width > 1440px) {
   
}