@tailwind base;
@tailwind components;
@tailwind utilities;

.layout{
    display: none;
}

body{
    font-family: 'Montserrat', sans-serif !important;
}

.profile-item-overlay{
    display: none;
}
.profile-item:hover .profile-item-overlay{
display: block;
}